.buttons {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.box {
  width: 20em;
  margin: 2em;
}

.kidsFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.kids {
  width: 100vw;
}

.dialog {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  align-items: center;
}

.boxoftext {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  min-width: 250px;
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}
