.chip {
  top: 1em;
  right: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 900px) {
  .show {
    display: none;
  }
}
@media (max-width: 800px) {
  body {
    width: fit-content;
  }

  .threeKidsLeft {
    width: 45vw;
  }
  .threeKidsRight {
    transform: scaleX(-1);
    width: 45vw;
  }
  .group {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    margin-top: 1em;
  }

  .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1em;
  }
}

@media (min-width: 800px) {
  .chip {
    position: fixed;
    align-items: flex-end;
  }

  .threeKidsLeft {
    position: fixed;
    width: 25vw;
    bottom: 2em;
    left: 1em;
  }
  .threeKidsRight {
    position: fixed;
    transform: scaleX(-1);
    width: 25vw;
    bottom: 2em;
    right: 1em;
  }

  .heading {
    display: flex;
    margin-top: 2em;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1em;
  }
}

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxes {
  display: flex;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.boxes div {
  flex-basis: 40%;
  width: fit-content;
  margin: 1em;
  background-color: rgb(229, 244, 216);
}

@media (max-width: 800px) {
  .boxes div {
    flex-basis: 80%;
  }

  .boxes {
    width: 100%;
  }
}

.messages {
  margin-top: 2em;
  padding: 1em;
  width: 60vw;
  display: flex;
  align-items: center;
}
